@using TranTuanThinh_2031200036_Lab.Models
@model List<Carousel>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item @(item == Model.First() ? "active" : "")">
                <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                    @* <a href="@item.LinkUrl"> *@     
                    <img src="@item.ImageUrl" class="d-block" alt="@item.Title"
                        style="object-fit: cover; max-height: 100%; max-width: 100%;" />
                    @* </a> *@   
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Title</h5>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
